<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="statContainer">
        <div id="fails" class="stat small light-stat">
            <h3>{{entire_tower_fail}}</h3>
            <p>fails</p>
        </div>
        <div id="besttime" class="stat medium light-stat">
            <h3>3:20:15.32</h3>
            <p>is the current best time</p>
        </div>
        <div id="players" class="stat small dark-stat">
            <h3>46</h3>
            <p>people online</p>
        </div>
        <div id="bananas" class="stat small dark-stat">
            <h3>492</h3>
            <p>bananas in storage</p>
        </div>
        <div id="uniques" class="stat small dark-stat">
            <h3>102</h3>
            <p>unique players in history</p>
        </div>
        <div id="timespent" class="stat medium light-stat">
            <h3>5:22:18:43.92</h3>
            <p>spent stuck in the maze</p>
        </div>
        <div id="therapists" class="stat small light-stat">
            <h3>96%</h3>
            <p>of therapists have been hired</p>
        </div>
        <div id="stolen" class="stat small dark-stat">
            <h3>15</h3>
            <p>beers have been drank by Xtra</p>
        </div>
        <div id="graph" class="stat large dark-stat">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Polynomial_of_degree_three.svg/250px-Polynomial_of_degree_three.svg.png">
        </div>
        <div id="hot" class="stat small dark-stat">
            <h3>21</h3>
            <p>times XSEIDET has complained about the heat</p>
        </div>
    </div>
</body>

</html>