<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <style>
        body {
            margin: 0px;
            padding: 0px;
            font-family: "Roboto", sans-serif;
        }
    </style>
</head>

<body>
    <h1>Event Information</h1>
    <h2>Disclaimer</h2>
    <p>This is a real event, but it is not a serious event. This is for fun.</br></br>

        <b>The easiest way to participate is through our <a href="{{discord_link}}">Discord Server</a>.</b></br></br>

        We are not associated with Coffee Stain Studios. Coffee Cup Studios is a fake “company” made up of a collective
        of
        Satisfactory players who just wanted to do something fun - though the stainers have been very
        supportive.</br></br>

        You do not have to like “Doug” to participate. While the actual u/OfficerDougEiffel is part of this project, we
        would humbly ask that you not include Doug jokes so that this can be its own thing for all to enjoy. We have
        many
        more team members who are not Doug. Hope this helps.
    </p>
    <h2>The Basics</h2>
    <h3>Phase One: If we build it, they will climb</h3>
    <p>We are making a tower (think of Trackmania's "Deep Slip" or the games "Getting Over it" and "Get to Work.")
        We will make some levels/floors on our end. We invite you to make some levels as well.
        We will choose our favorite community-made levels levels (as voted on by our 25 unpaid employees) and include
        them in our tower.</br>
        Rewards for having your build chosen include:</br>
    <ul>
        <li>The chance to slap down a sign advertising your platform/content if that's your thing</li>
        <li>An "exclusive" Reddit Flair honoring your contribution (Thanks u/Temporal_illusion)</li>
        <li>The chance to watch people have fun with your creation.</li>
    </ul>
    </p>
    <h3>Phase Two: Climb the Corporate Ladder</h3>
    <p>We will release the tower to the community within a couple weeks of submissions closing.
        The community will compete for the best time. More details on that later.

        Prizes include:</br>
    <ul>
        <li>A Ficsit Coffee Mug (Purchased by us from the official Satisfactory Merch store) for the first place winner.
        </li>
        <li>An "exclusive" Reddit User Flair honoring your contribution (Thanks again u/Temporal_Illusion)</li>
        <li>Fun?</li>
    </ul>
    </p>
</body>

</html>