<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
        integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ"
        crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=person" />
    <style>
        body {
            margin: 0px;
            padding: 0px;
            font-family: "Roboto", sans-serif;
        }
    </style>
</head>

<body>
    <section id="navbar-section">
        <a href="#">Mod Installer</a>
        <a href="/submitlevel">Submit Level</a>
    </section>
    <section id="header-section">
        <h1>Coffee Cup Studios</h1>
    </section>
    <section id="information-section">
        <div>
            <p>
                Hello Pioneers, John Coffee Cup from Coffee Cup Studios here. I've just learned that Coffee Stain
                Studios will be releasing their game on console this November. This will give them a huge leg up in the
                market, so we will have to respond. I believe the best way to ensure a victory over the “Stainers” is to
                build a giant obstacle-course tower and race factory carts to the top.</br></br>
                -John Coffee Cup (Founder & CEO)</p>
            <a href="/eventinfo">Event Information</a>
        </div>
    </section>
    <section id="live-information">
        <div id="statistics-section">
            <h2>Live Statistics</h2>
            <div id="statistics-container">
                <div hx-get="/data" hx-trigger="load, every 30s"></div>
            </div>
        </div>
        <div id="server-section">
            <h2>Servers</h2>
            <div id="server-container">
                <div hx-get="/serverlist" hx-trigger="load, every 30s"></div>
            </div>
        </div>
    </section>
</body>

</html>