<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
        integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=person" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu" />
    <style>
        body {
            margin: 0px;
            padding: 0px;
            font-family: "Roboto", sans-serif;
        }
    </style>
    {{menu_script|safe}}
</head>
    
<body>
    {{menu_html|safe}}
    <section id="live-information">
        <div id="statistics-section">
            <h2>Live Statistics</h2>
            <div id="statistics-container">
                <div hx-get="/data" hx-trigger="load, every 30s"></div>
            </div>
        </div>
        <div id="server-section">
            <h2>Servers</h2>
            <a href="/serverhelp">How to join a server?</a>
            <div id="server-container">
                <div hx-get="/serverlist" hx-trigger="load, every 30s"></div>
            </div>
        </div>
    </section>
</body>

</html>