<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="server1" class="server">
        <div id="primary-info">
            <h3>{{name}}</h3>
            <div id="online-count">
                <p>{{online}}</p>
                <span class="material-symbols-outlined">
                    person
                </span>
            </div>
        </div>
        <p>IP: {{ip}}</p>
        <p>Port: {{port}}</p>
        <p>Password: {{password}}</p>
    </div>
</body>

</html>