<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <style>
        body {
            margin: 0px;
            padding: 0px;
            font-family: "Roboto", sans-serif;
        }
    </style>
    {{menu_head|safe}}
</head>

<body>
    {{menu_body|safe}}
    <section id="server-help">
        <div>
            <h1>How to join a server</h1>
            <p>Forewarning, this tutorial assumes you have installed the correct mods - if you have not, please download
                our mod installer.</p>
            <p>With that out of the way, please navigate to the "Server Manager" menu once in the game.</p>
            <img src="static/images/image01.png">
            <p>Then, click the "Add Server" button.</p>
            <img src="static/images/image02.png">
            <p>Enter the information found on the server list, the password will be requested shortly after.</p>
            <img src="static/images/image03.png">
            <p>Once you've entered the password! Click "Join" and climb the Corporate Ladder!</p>
            <img src="static/images/image04.png">
            <p>If you need any further assisstance, or are encountering issues: please <a href="{{discord_link}}">join
                    our discord server</a> for support!</p>
        </div>
        </div>
</body>

</html>